/* * {
  outline: 2px dotted #ff0000;
} */
body {
  font-size: 62.5%;
}
h1 {
  font-family: 'Bungee Shade', cursive;
}
p, h2, h3 {
  /*font-family: 'Sintony',sans-serif;*/
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* Main */
.main {
  @include cover-background('desk_1x.jpg');
}
/* Site logo */
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  color: #FFF;
  transition: all 0.4s ease;
  z-index: 2;
}
.sticky {
  background-color: rgba(#333D46, 0.9);
  border-bottom: 2px solid #DEE2E3;
  z-index: 2;
}
.header h1 {
  opacity: 0;
  font-size: 40px;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  float: left;
  display: inline-block;
  color: #FFF;
  margin-top: 20px;
  margin-left: 15px;
}
/* Menu icon */
.main__menu {
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 auto;
  position: relative;
  cursor: pointer;
}
.main__menu span,
.main__menu span:before,
.main__menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
  transition: all 0.5s ease-in-out;
}
.main__menu span:before {
  left: 0;
  top: -10px;
}
.main__menu span:after {
  left: 0;
  top: 10px;
}
.main__menu.active span {
  background-color: transparent;
}
.main__menu.active span:before,
.main__menu.active span:after {
  top: 0;
}
.main__menu.active span:before {
  transform: rotate(135deg);
}
.main__menu.active span:after {
  transform: rotate(-135deg);
}
/* Menu overlay */
.main__menu--overlay {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333D46;
  background-color: rgba(#333D46, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Menu overlay nav */
.main__menu--overlay nav {
  text-align: center;
  list-style: none;
  position: relative;
  top: 25%;
  height: 50%;
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      padding: 20px 0;
      background-color: rgba(#CCC, 0.8);
      &:hover {
        background-color: #B68861;
      }
      a {
        text-decoration: none;
        font-size: 40px;
        font-size: 4rem;
        color: #FFF;
        transition: all 0.3s ease;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}
.main__menu--overlay-open {
  opacity: 1;
  visibility: visible;
}
/* Main context */
.main__content {
  opacity: 0;
}
.main__content h2 {
  font-size: 60px;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  color: #FFF;
}
.main__content p {
  font-size: 40px;
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
  color: #FFF;
}
.main__content span {
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

/* Scroll arrow */
.main__arrow {
  text-align: center;
  position: relative;
  cursor: pointer;
}
.main__arrow svg {
  position: relative;
  top: 300px;
}
/* Supporting */
.supporting {
  background-color: #FFF;
  text-align: center;
  padding: 50px 0;
  border-top: 5px solid #333D46;
  h3 {
    display: inline-block;
    font-size: 40px;
    font-size: 4rem;
    color: #333D46;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid #B68861;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    text-align: justify;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    font-size: 2.5rem;
    span {
      font-style: italic;
      font-weight: bold;
      border-bottom: 5px solid #B68861;
    }
  }
}
#animate_1, #animate_2, #animate_3, #animate_4 {
  opacity: 0;
}
/* Feature */
.feature {
  background-color: #333D46;
  text-align: center;
  padding: 75px 0;
  border-top: 5px solid #B68861;
  border-bottom: 5px solid #B68861;
  h3 {
    display: inline-block;
    font-size: 40px;
    font-size: 4rem;
    color: #FFF;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid #B68861;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    color: #FFF;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    font-size: 2.5rem;
  }
}
/* Footer */
.footer {
  background-color: #DEE2E3;
  text-align: center;
  padding: 75px 0;
  h3 {
    display: inline-block;
    font-size: 40px;
    font-size: 4rem;
    color: #333D46;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid #B68861;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    color: #333D46;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    font-size: 2.5rem;
    span {
      font-weight: bold;
    }
  }
  a{
    color: #333D46;
    text-decoration: none;
  }
}
.social {
  height: 250px;
  background-color: #B68861;
  border-top: 5px solid #FFF;
  .social__icons {
    text-align: center;
    img {
      position: relative;
      top: 100px;
      margin: 0 2%;
      width: 50px;
    }
  }
}
.copy {
  height: 100px;
  padding: 40px;
  text-align: center;
  background-color: #333D46;
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 4px;
  span {
    padding-bottom: 3px;
    border-bottom: 3px solid #B68861;
  }
}
