/* * {
  outline: 2px dotted #ff0000;
} */
body {
  font-size: 62.5%;
  width: 100%;
  background-color: $color1;
  margin-top: -20px;
}
h1 {
  font-family: 'Bungee Shade', cursive;
}
h2, h3, p {
  /*font-family: 'Sintony',sans-serif;*/
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* Main */
main {
  @include cover-background('desk_1x.jpg');
}
/* Header */
header {
  position: fixed;
  width: 100%;
  height: 80px;
  color: $white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 2;
}
.sticky {
  background-color: rgba($color1, 0.7);
  z-index: 2;
}
header h1 {
  opacity: 0;
  @extend %font-large;
  font-weight: bold;
  text-align: left;
  float: left;
  display: inline-block;
  margin-left: 15px;
}
/* Main menu icon */
.main__menu {
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 auto;
  position: relative;
  cursor: pointer;
}
.main__menu span,
.main__menu span:before,
.main__menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: $white;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main__menu span:before {
  left: 0;
  top: -10px;
}
.main__menu span:after {
  left: 0;
  top: 10px;
}
.main__menu.active span {
  background-color: transparent;
}
.main__menu.active span:before,
.main__menu.active span:after {
  top: 0;
}
.main__menu.active span:before {
  transform: rotate(135deg);
}
.main__menu.active span:after {
  transform: rotate(-135deg);
}
/* Main menu overlay */
.main__menu--overlay {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color1;
  background-color: rgba($color1, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Main menu overlay nav */
.main__menu--overlay nav {
  text-align: center;
  list-style: none;
  position: relative;
  top: 20%;
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      padding: 20px 0;
      margin: 20px 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      &:hover {
        background-color: $color3;
      }
      a {
        text-decoration: none;
        @extend %font-large;
        color: $white;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
.open {
  opacity: 1;
  visibility: visible;
}
/* Middle out border bottom */
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 5px;
	width: 0px;
	background: transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: $color1;
}
/* Main content */
.main__content {
  opacity: 0;
  h2 {
    @extend %font-x-large;
    font-weight: bold;
    text-align: center;
    color: $white;
  }
  p {
    @extend %font-large;
    font-weight: lighter;
    text-align: center;
    color: $white;
    span {
      border-bottom: 1px solid $white;
      padding-bottom: 10px;
    }
  }
}
/* Main scroll down arrow */
.main__arrow {
  text-align: center;
  position: relative;
  cursor: pointer;
}
.main__arrow svg {
  position: relative;
  top: 300px;
}
/* Section  */
section {
  background-color: $white;
  text-align: center;
  padding: 50px 0;
  h3 {
    display: inline-block;
    @extend %font-large;
    color: $color1;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 5px solid $color3;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
article {
  padding-top: 20px;
  opacity: 0;
  h4 {
    display: inline-block;
    @extend %font-medium;
    color: $color1;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 3px;
  }
  p {
    text-align: justify;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    font-size: 2.5rem;
    span {
      font-style: italic;
      font-weight: bold;
      border-bottom: 5px solid $color3;
    }
  }
}
/* Footer */
footer {
  background-color: $color2;
  text-align: center;
  padding-top: 70px;
  h3 {
    display: inline-block;
    @extend %font-large;
    color: $color1;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid $color3;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    color: $color1;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    @extend %font-small;
    span {
      font-weight: bold;
    }
  }
  a{
    color: $color1;
    text-decoration: none;
  }
}
/* Footer - social media icons */
.social {
  height: 250px;
  background-color: $color3;
  margin-top: 70px;
  border-top: 5px solid $white;
  .social__icons {
    text-align: center;
    img {
      position: relative;
      top: 100px;
      margin: 0 2%;
      width: 50px;
    }
  }
}
/* Footer - copyright notice */
.copyright {
  height: 200px;
  text-align: center;
  background-color: $color1;
  span {
    position: relative;
    @extend %font-x-small;
    letter-spacing: 4px;
    top: 50px;
    color: $white;
    padding-bottom: 3px;
    border-bottom: 3px solid $color3;
  }
}
