* {
  outline: 1px dotted #999999;
}
body {
  font-size: 62.5%;
}
h1 {
  font-family: 'Bungee Shade', cursive;
}
h2, h3 {
  font-family: 'Varela Round', sans-serif;
}
p {
  font-family: 'Jo Mewka','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* Main */
.main {
  @include cover-background('desk_1x.jpg');
}
/* Site logo */
.header h1 {
  font-size: 40px;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  float: left;
  display: inline-block;
  color: #FFF;
  margin-top: 5px;
  margin-left: 15px;
}
/* Menu icon */
.main__menu {
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 auto;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.main__menu span,
.main__menu span:before,
.main__menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
  transition: all 0.5s ease-in-out;
}
.main__menu span:before {
  left: 0;
  top: -10px;
}
.main__menu span:after {
  left: 0;
  top: 10px;
}
.main__menu.active span {
  background-color: transparent;
}
.main__menu.active span:before,
.main__menu.active span:after {
  top: 0;
}
.main__menu.active span:before {
  transform: rotate(135deg);
}
.main__menu.active span:after {
  transform: rotate(-135deg);
}
/* Menu overlay */
.main__menu--overlay {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Menu overlay nav */
.main__menu--overlay nav {
  text-align: center;
  list-style: none;
  position: relative;
  top: 25%;
  height: 50%;
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      padding: 20px 0;
      background-color: rgba(#CCC, 0.8);
      &:hover {
        background-color: #B68861;
      }
      a {
        text-decoration: none;
        font-size: 40px;
        font-size: 4rem;
        color: #FFF;
        transition: all 0.3s ease;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}
.main__menu--overlay-open {
  opacity: 1;
  visibility: visible;
}
/* Main context */
.main__content {
  opacity: 0;
}
.main__content h2 {
  font-size: 60px;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  color: #FFF;
}
.main__content p {
  font-size: 20px;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  color: #FFF;
}
.main__content span {
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

/* Scroll arrow */
.main__arrow {
  text-align: center;
  position: relative;
  cursor: pointer;
}
.main__arrow svg {
  position: relative;
  top: 300px;
}
/* Supporting */
.supporting {
  background-color: #B68861;
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  color: #FFF;
  padding: 60px;
  h3 {
    font-size: 40px;
    font-size: 4rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.feature {
  background-color: #333D46;
}
.feature2 {
  background-color: #FFF;
}
.footer {
  background-color: #DEE2E3;
}
.social {
  background-color: #B68861;
  .social__icons {
    text-align: center;
    img {
      position: relative;
      top: 100px;
      margin: 0 2%;
      width: 50px;
    }
  }
}
.copy {
  text-align: center;
  background-color: #333D46;
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
  p {
    position: relative;
    top: 50px;
  }
}
