// Background-size: cover
@mixin cover-background($image) {
  background: image-url($image) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// Section headers
@mixin section__header($border__color, $font__color) {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 10px solid $border__color;
  color: $font__color;
  font-size: 6.5em;
  font-weight: bold;
  letter-spacing: 3px;
}
