// Font sizes
%font-x-small {
  font-size: 14px;
  font-size: 1.4rem;
}
%font-small {
  font-size: 20px;
  font-size: 2rem;
}
%font-medium {
  font-size: 25px;
  font-size: 2.5rem;
}
%font-large {
  font-size: 40px;
  font-size: 4rem;
}
%font-x-large {
  font-size: 60px;
  font-size: 6rem;
}
